/* CSS cho cart pets */
.cart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
}
/* Chỉnh kích thước để chia cột lưới theo size từng thiết bị */
/* 1 ô khi dưới 1250px */
@media (max-width: 1000px) { 
    .cart-grid {
        grid-template-columns: 1fr;
        max-width: 80%; /* Thêm dòng này để giới hạn chiều ngang */
        margin: 0 auto; /* Canh giữa grid */
    }
}

.container-cart {
    position: relative;
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 70px;
    box-shadow: 0px 3px 10px 5px rgb(148, 149, 150);
    background-color: rgb(225, 242, 252);
}

.imgCart {
    width: 40%;
    height: 75%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 3px;
    left: 3px;
}

/* Giá tiền */
.text {
    width: 58%;
    font-size: 1.5rem;
    color: rgb(24, 74, 127);
    position: absolute;
    top: 0;
    right: 0;
}

/* Bảng tên  */
.name-pet {
    font-weight: bold;
    text-align: center;
}

.text .price {
    color: rgb(248, 95, 95);
    text-decoration: line-through;
}

/* Nút Thích */
.heart-cart {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 100%;
    box-shadow: 0 4px #999;
    background-color: rgb(65, 129, 167);
    color: rgb(252, 158, 158);
    font-size: 60px;
    text-align: center;
    position: absolute; 
    left: 10%; 
    bottom: 3%; 
    cursor: pointer;
    transition: transform 1s ease;
}

.heart-cart:hover {
    color: rgb(219, 13, 13);
    background-color: rgb(30, 87, 120);
    cursor: pointer;
    transform: rotate(-360deg);
}

.heart-cart:active {
    transform: translateY(2px);
}

.heart-cart:focus {
    color: rgb(219, 13, 13);
    background-color: rgb(30, 87, 120);
    cursor: pointer;
    transform: rotate(360deg);
}
.heart-cart.clicked {
    background-color: rgb(219, 13, 13); /* Màu sắc khi giữ trạng thái đã nhấn */
}

/* XEM, Đặt hàng */
.btn-container {
    width: 40%;
    height: 30%;
    display: grid;
    position: absolute;
    bottom: 3%;
    right: 9%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    justify-items: end;
    align-items: end;
}
.btn-cart {
    width: 80%;
    height: 90%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(65, 129, 167);
    box-shadow: 0 4px #999;
    cursor: pointer;
    transition: transform 1s ease;
}

.btn-cart:hover {
    background-color: rgb(30, 87, 120);
    cursor: pointer;
    transform: rotate(-360deg);
}

.btn-cart:focus {
    background-color: rgb(30, 87, 120);
    cursor: pointer;
    transform: rotate(360deg);
}

/* -----------------CSS cho from đặt hàng------------------------- */
.cart-form {
    width: 50%;
    height: 85%;
    position: fixed; /* Giữ form ở vị trí cố định */
    top: 20%; /* Điều chỉnh vị trí trên màn hình */
    left: 50%; /* Điều chỉnh vị trí từ trái màn hình */
    transform: translate(-50%, -20%); /* Canh giữa theo chiều ngang */
    display: flex; /* Sử dụng Flexbox */
    flex-direction: row;
    z-index: 3;
    background-color: #fbecec;
    box-shadow: 0 10px 10px 5px rgba(84, 84, 84, 0);
}
.cart-form .text-chat {
    background-color: rgb(249, 173, 59);
    width: 35%;
    height: 10%;
    position: fixed;
    top: 50%;
    right: 2%;
    border-radius: 15px;
    display: flex; /* Sử dụng Flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
    text-align: center; /* Đảm bảo chữ căn giữa nếu có nhiều dòng */
    padding: 10px;
    color: white;
    font-weight: bold;
    z-index: 3;
}
.cart-form .img-note {
    width: 45%;
    height: 40%;
    position: fixed;
    bottom: 1%;
    right: 2%;
}

/* Định dạng các phần tử trong form */
.order-form {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(230, 146, 89);
    padding: 10px;
    color: white;
    top: 2%;
    left: 2%;
}

.order-form label {
    margin-top: 10px;
    display: block;
    color: white;
    font-weight: bold;
}

.order-form input,
.order-form select {
    width: 100%;
    padding: 2%;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
/* nút chọn giai đoạn */
.btnS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.btn-stage {
    margin: 10px auto;
    width: 30%;
    transition: transform 0.5s ease, z-index 0s;
    border-radius: 10px;
}
.btn-stage:hover {
    z-index: 103;
    border-radius: 10px;
    transform: scale(2);
}

/* Định dạng tiêu đề form */
.order-form h2 {
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
/* nút đóng */
.btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    width: 6%;
}
/* nút đặt */
.btn-submit {
    margin: 4% auto;
    width: 30%;
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-submit>img {
    width: 100%;
    display: block;
    background-color: rgb(216, 184, 184);
}
.btn-submit>img:hover {
    background-color: rgb(188, 153, 153);
}
/* Định dạng khi form kích thước nhỏ */
@media (max-width: 480px) {
    .order-form {
        padding: 15px;
    }

    .order-form h2 {
        font-size: 20px;
    }

    .order-form button {
        font-size: 16px;
    }
}