body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}   

.header-container {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Đẩy logo sang bên trái và các nút sang bên phải */
}

.logo-container {
    display: flex;
}

.buttons-container {
    display: flex;
    gap: 20px;
}



.logo-container img {
    width: 90px;
    height: 90px;
}

.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.circle-button:hover {
    background-color: #0056b3;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #007bff;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #0059b8;
}

main {
    padding: 20px;
}

.pet {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
}

.pet img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
