body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('../images/banner/banner-bg.jpg'); /* Đường dẫn tới hình ảnh nền */
    background-size: cover; /* Kích thước ảnh phù hợp với kích thước màn hình */
    background-repeat: repeat; /* Không lặp lại hình ảnh nền */
    background-attachment: fixed; /* Giữ cố định hình nền khi cuộn trang */
    background-position: center; /* Căn giữa hình nền */
    color: white; /* Màu text */
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}   

header {
    background-color: white;
    text-align: center;
}
footer {
    color: white;
    text-align: center; 
    padding: 10px 0;
}
.header-container {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; /* Đẩy logo sang bên trái và các nút sang bên phải */
}

.logo-container {
    display: flex;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.logo-container img {
    width: 90px;
    height: 90px;
}

.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.circle-button:hover {
    background-color: rgb(255, 132, 173);
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
    nav ul li {
        margin: 0 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 14px 20px;
            display: block;
        }

 nav ul li a:hover {
    background-color: rgb(255, 123, 167)
}

.pet {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
}

.pet img {
    max-width: 100%;
    height: auto;
}
.pet img {
    max-width: 100%;
    height: auto;
}

