.search-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
<<<<<<< HEAD
=======

>>>>>>> parent of a1b6fa5 (Delete Pet-Store directory)
}
#btntim{
    height: 30px;
    width: 30px;
}
.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-form input[type="text"] {
<<<<<<< HEAD
    width: 100%;
    padding: 8px 12px;
    margin-right: 10px;
=======
    width: 400px;
    padding: 8px 12px;
    margin-right: 5px;
>>>>>>> parent of a1b6fa5 (Delete Pet-Store directory)
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
}

.search-form input[type="submit"] {
    background-color: white;
    color: #0056b3;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}

.search-form input[type="submit"]:hover {
    background-color: #0056b3;
}
